<DATABASE>
	<!-- ID must be unique for each running database -->
	<ID value="1" />
	<!-- value can be "true" or "false", if this set to true, terminal can not be logged off -->
	<ILLEGAL value="false" />
	<!-- width*height can be 640*480, 800*600, 1024*768, 1280*960 -->
	<WIDTH value="800" />
	<HEIGHT value="600" />
	<!-- Images count describes number of images used for animation - each image must have name width*height_num.suffix where num must be from ]1,IMAGES_COUNT[ interval. Delay defines time destance between in bulks of 20ms e.g. delay of 5 causes picture to switch every 0.1s . -->
	<IMAGES_COUNT value="10" />
	<DELAY value="7" />
	<IMAGE_SUFFIX value=".png" />
	<!-- sizes of fonts are in pixels -->
	<TEXTSIZE value="20" /> <!-- input / output text -->
	<CAPSSIZE value="30" /> <!-- caption of the buttons -->
	<!-- url must be of the format http://adress -->
	<URL url="http://xkcd.com/index.html" />
	<!-- name and password must be in caps -->
	<USER name="TEST" pass="TSET" />
	<USER name="I" pass="I" />
	<!-- four fonts are currently expected, must be in file name.vlw; order of font names here determines order of buttons displayed -->
	<FONT name="Ghetto" />
	<FONT name="Nobilia" />
	<FONT name="Vlada" />	
	<FONT name="Mafie" />	
	<!-- colors - Red, Green, Blue, Alpha component, can be in the range ]0,255[ -->
	<COLOR name="field" r="255" g="255" b="255" a="255" /> <!-- backgound for input/output --> 
	<COLOR name="text" r="0" g="0" b="0" a="255" /> <!-- input/output text --> 
	<COLOR name="caption" r="30" g="30" b="110" a="255" /> <!-- caption of the button --> 
	<COLOR name="highlight" r="80" g="160" b="190" a="255" /> <!-- caption for button that is under the cursor --> 
	<COLOR name="offline" r="80" g="160" b="190" a="255" /> <!-- Color in which the OFF text is displayed. --> 
	<COLOR name="error" r="150" g="0" b="0" a="255" /> <!-- program error info --> 
	<!-- strings are expected in the ASCII coding -->	
	<STRING name="username" text="Zadejte uzivatelske jmeno." />
	<STRING name="password" text="Zadejte heslo k uctu: " />
	<STRING name="welcome" text="Vitejte uzivateli " />
	<STRING name="logoff" text="Pro odhlaseni zadejte EXIT a potvrdte." />
	<STRING name="noname" text="Zadane uzivatelske jmeno neexistuje." />
	<STRING name="outofbounds" text="Prekrocena delka vstupniho pole." />
	<STRING name="logoffreset" text="Logoff. Zadejte uzivatelske jmeno."  />
	<STRING name="illegallogoff" text="Logoff nelze provest, terminal je blokovan."  />
</DATABASE>
